*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#0d6efd,#4facfe);
    padding:20px;
}

.container{
    max-width:500px;
    margin:auto;
    background:#fff;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.header{
    text-align:center;
    margin-bottom:25px;
}

.logo{
    font-size:60px;
    margin-bottom:10px;
}

.header h1{
    color:#0d6efd;
    margin-bottom:10px;
}

.header p{
    color:#666;
    font-size:15px;
}

h2{
    text-align:center;
    color:#222;
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight:bold;
    color:#333;
}

input,
select{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

input:focus,
select:focus{
    border-color:#0d6efd;
}

.phone-box{
    display:flex;
    border:1px solid #ddd;
    border-radius:10px;
    overflow:hidden;
}

.phone-box span{
    background:#f2f2f2;
    padding:14px;
    font-weight:bold;
}

.phone-box input{
    border:none;
}

/* INTERESTS */

.interests{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-top:20px;
}

.interest{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#f8f9fa;
    border:2px solid #ddd;
    border-radius:15px;
    padding:20px;
    min-height:140px;
    cursor:pointer;
    transition:0.3s;
}

.interest:hover{
    background:#eef5ff;
    border-color:#0d6efd;
}

.interest input{
    width:22px;
    height:22px;
    margin-bottom:12px;
}

button{
    width:100%;
    margin-top:30px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#0d6efd;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#0956c8;
}

@media (max-width:600px){
    .interests{
        grid-template-columns:1fr 1fr;
    }
} 
